In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1. Load the excel file as a pandas dataframe

In [4]:
# Load the excel file as a pandas dataframe
df = pd.read_excel('retail_sales_dataset.xlsx')
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

Data Cleaning and Preparation

In [5]:
# Check for missing values
df.isnull().sum()

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

In [6]:
# Check for duplicate rows
df.duplicated().sum()

0

# So no missing values and no duplicate rows, so we can proceed with the analysis

### 2. Calculate the total sales, average order value and profit margin

In [7]:
# Calculate the total sales
total_sales = df['Total Amount'].sum()
print('Total Sales: ', total_sales)

Total Sales:  456000

In [8]:
# Calculate the average order value
avg_order_value = df['Total Amount'].mean()
print('Average Order Value: ', avg_order_value)

Average Order Value:  456.0

### there is no cost of goods sold, so we cant calculate the profit margin

### 3.Top 10 sales

In [13]:
# Top 10 sales
# Extract the top 10 sales
top_10_sales = df.sort_values(by="Total Amount", ascending=False).head(10)

top_10_sales[['Transaction ID', 'Date', 'Customer ID', 'Product Category', 'Total Amount']]

     Transaction ID       Date Customer ID Product Category  Total Amount
571             572 2023-04-20     CUST572         Clothing          2000
88               89 2023-10-01     CUST089      Electronics          2000
502             503 2023-10-25     CUST503           Beauty          2000
560             561 2023-05-27     CUST561         Clothing          2000
831             832 2023-09-11     CUST832           Beauty          2000
807             808 2023-04-01     CUST808           Beauty          2000
576             577 2023-02-13     CUST577           Beauty          2000
945             946 2023-05-08     CUST946      Electronics          2000
446             447 2023-07-06     CUST447           Beauty          2000
734             735 2023-10-04     CUST735         Clothing          2000